* {
    padding:0;
    margin: 0;
}

header {
    height: 72px;
    width: 100%;
    position: fixed;
    background-color: white;
}
hr {
    border-color: 1px grey;
}

.flex {
    display: flex;
}

.w-700 {
    font-weight: 700;
}

.column{
    flex-direction: column;
}

nav {
    margin-left:20px;
    margin-top: 15px; 
}

nav ul {
    list-style-type: none;
}

.horrizontal-line{
  display: flex;
}

.search-bar,
.name
{
    margin-left: 25px;
}

.name { 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.logo img {
    height: 90px;
    width: 220px;
    margin-top: -40px;
    margin-left: 300px;
}

.subscribe button{
  margin-left: 260px;
  width: 140px;
}

.log-in button{
    margin-left: 10px;
    width: 70px
}

.subscribe button,
.log-in button {
    height: 30px;
    background-color: #567b95;
    border-radius: 4px;
    border: 1px solid;
    color: white;
}

.center{
    text-align: center;
}

.headline-1 {
    padding-top: 90px;
}

.headline-2 {
    margin-left: -330px;
}

.headline-1,
.headline-2 {
 font-family: 'Crimson Text', serif;
 font-style: italic;
 font-weight: 700;
 font-size: xx-large;
}

.image-set img {
    padding-top: 20px;
    height: 450px;
    width: 900px;
}

.title-credits {
    max-width: 720px;
    margin-left: 180px;
    color: #798795;
}

.fullname{
    margin-left: 340px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 700;
}

.same-line{
    margin-left: 340px;
    display: flex;
}

.social-media {
   margin-left: 350px; 
}

.social-media i {
    padding-left: 10px;
}

.article-p {
    min-width: 600px;
    max-width: 600px;
    margin-left: 300px;
    margin-right: auto;
    padding-top: 50px;
    font-family: 'Crimson Text', serif;
    font-size: x-large;
}

.info {
    padding-bottom: 20px;
}

.info img {
    min-width: 600px;
    max-width: 600px;
}

.thanks {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.thanks p {
    font-size: medium;
    font-weight: 700;
    padding-left: 30px;
}

a {
    color: rgb(50, 104, 145);
}

.a-nodecoration {
    text-decoration: none;
}

.thanks-line {
    width: 100px;
    color: black;
    margin: 20px auto;
}

aside {
    max-width: 200px;
    margin-left: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

aside img {
    width: 100px;
    padding: 10px;
}

aside h3 {
    font-size: medium;
    margin-top: 10px;
}

.section-footer {
    min-width: 600px;
    max-width: 600px;
    float: left;
    margin-left: 300px;
    margin-right: auto;
    font-size: 12px;
}

.section-footer p {
    margin-left: 0;
    padding-left: 0;
}

.section-footer a {
    color: #666;
    font-weight: 600;
}

.section-footer a:hover {
    text-decoration: none;
}

.editor-picks {
    border-bottom: 1px solid lightgray;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    width: 100%;
    padding-bottom: 20px;
}

.editor-image {
    width: 250px;

}

.a-h3 {
    color: black;
    font-weight: 100;
}

aside a:hover {
    text-decoration: underline;
}

.resize-image {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    padding: 0px 150px 20px 150px;
    margin: 30px;
    width:100%;
    height: 600px;
    background-image: url('/images/newyork.png');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 900px 600px;
}

.resize-image img {
    width: 100%;
    height: 600px;
}

.resize-image p {
    margin-top: 150px;
    margin-right: 10px;
    font-size: small;
}

.another-para {
   max-width: 1000px;
}

.another-para h3{
    margin-left: 150px;
}

.para2 p {
 margin-left: 150px;
 color: #798795;
}

.author-theory {
    min-width: 600px;
    max-width: 600px;
    margin-left: 180px;
    margin-right: auto;
    float: left;
    font-size: small;
}

.author-theory hr {
    border-color: lightgray;
    width: 80px;
    margin: 0 0 30px;
}

.spacing {
    padding-top: 20px;
}

.article-p iframe {
    width: 560px;
    height: 315px;
    margin-top: 30px;
}

.image-headline {
    color: #666;
    font-family: georgia,'times new roman',times,serif;
}

.image-headline span {
    font-weight: 600;
}

.image-headline-small {
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.image-headline-medium {
    font-size: 1rem;
    line-height: 1.25rem;
}
