* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

header {
  height: 43px;
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid grey;
}

hr {
  border-color: grey;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.w-700 {
  font-weight: 700;
}

.column {
  flex-direction: column;
}

nav {
  margin-left: 20px;
  margin-top: 15px;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

.horrizontal-line {
  display: flex;
}

.search-bar,
.name {
  margin-left: 25px;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

aside img {
  width: 70px;
  height: 70px;
  padding: 10px;
}

.logo img {
  height: 42px;
  width: 220px;
  margin-top: -20px;
  margin-left: 300px;
}

.subscribe button {
   margin-left: 280px; 
}

.subscribe button,
.log-in button {
  margin-top: -6px;
}

nav button {
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  transition: all 0.6s ease 0s;
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 11px 12px 8px;
  text-transform: uppercase;
}

.log-in button {
  margin-left: 6px;
}

.subscribe button,
.log-in button,
.section-footer button {
  height: 30px;
  background-color: #567b95;
  border-radius: 4px;
  border: 1px solid;
  color: white;
}

.center {
  text-align: center;
}

.headline-1 {
  padding-top: 90px;
}

.headline-2 {
  margin-left: -330px;
}

.headline-1,
.headline-2 {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: 700;
  font-size: xx-large;
}

.image-set img {
  padding-top: 20px;
  height: 450px;
  width: 75%;
}

.title-credits {
  width: 70%;
  color: #798795;
  margin-right: auto;
  text-align: justify;
  font-size: 0.9375rem;
}

.fullname {
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 0.8rem;
}

.fullname a {
  text-decoration: underline;
  color: black;
}

.fullname a:hover {
    text-decoration: none;
}

.date-time {
    font-size: 0.7rem;
}

.same-line {
  display: flex;
}

.social-media {
  margin-left: 350px;
  font-size: large;
}

.social-media i {
  padding-left: 9px;
  padding-top: 5px;
  background-color: lightgray;
  border-radius: 80%;
  height: 25px;
  width: 22px;
  cursor: pointer;
}

.social-media i:hover {
  background-color: white;
  border: 1px solid lightgray
}

.article-p {
  min-width: 600px;
  max-width: 600px;
  padding-top: 50px;
  font-family: 'Crimson Text', serif;
  font-size: x-large;
}

.info {
  padding-bottom: 20px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 10px;
}

.info img {
  min-width: 600px;
  max-width: 600px;
}

.thanks {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.thanks p {
  font-size: medium;
  font-weight: 700;
  padding-left: 30px;
}

a {
  color: rgb(50, 104, 145);
}

.a-nodecoration {
  text-decoration: none;
}

.black {
  color: black;
}

.thanks-line {
  width: 100px;
  color: black;
  margin: 20px auto;
}

.copyrights a {
  color: grey;
}

.section-footer a {
  color: #666;
  font-weight: 600;
}

.footer-subscribe a {
  font-weight: 700;
}

.footer-subscribe a,
.footer a {
  text-decoration: none;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  width: 100%;
}

aside a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) and (max-width: 800px)
{
  .credits-margin {
    margin-left: 130px;
  }

  .article {
    margin-left: 100px;
    width: 50%;
  }
}

@media (min-width: 801px)
{
  .credits-margin {
    margin-left: 160px;
  }

  .article {
    margin-left: 30%;
    width: 50%;
  }
}

.footer-subscribe a:hover,
.footer a:hover {
  text-decoration: underline;
}

aside {
  width: 25%;
  margin-left: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

aside h3 {
  font-size: smaller;
  margin-top: 10px;
  width: 130px;
}

.section-footer {
  min-width: 600px;
  max-width: 600px;
  float: left;
  margin-left: 300px;
  margin-right: auto;
  font-size: 12px;
}

.section-footer button {
  width: 220px;
  float: left;
}

.section-footer div {
  margin-top: 20px;
}

.section-footer p {
  margin-left: 0;
  padding-left: 0;
}

.section-footer a:hover {
  text-decoration: none;
}

.editor-picks {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  width: 100%;
  padding-bottom: 20px;
}

.a-h3 {
  color: black;
  font-weight: 100;
}

.resize-image {
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  padding: 0 150px 20px 150px;
  margin: 30px;
  width: 100%;
  height: 600px;
  background-image: url('https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-720.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 900px 600px;
}

.resize-image img {
  width: 100%;
  height: 600px;
}

.resize-image p {
  margin-top: 150px;
  margin-right: 10px;
  font-size: small;
}

.another-para {
  max-width: 1000px;
}

.another-para h3 {
  margin-left: 150px;
}

.para2 p {
  margin-left: 150px;
  color: #798795;
}

.author-theory {
  min-width: 600px;
  max-width: 600px;
  margin-left: 180px;
  margin-right: auto;
  float: left;
  font-size: small;
}

.author-theory hr {
  border-color: lightgray;
  width: 80px;
  margin: 0 0 30px;
}

.spacing {
  padding-top: 20px;
}

.article-p iframe {
  width: 560px;
  height: 315px;
  margin-top: 30px;
  border: none;
}

.image-headline {
  color: #666;
  font-family: georgia, 'times new roman', times, serif;
}

.image-headline span {
  font-weight: 600;
}

.image-headline-small {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.image-headline-medium {
  font-size: 1rem;
  line-height: 1.25rem;
}

.f-14 {
  font-size: 14px;
}

.last-section {
  clear: both;
  margin-left: 30px;
}

.column-1 {
  margin-top: 30px;
  float: left;
  margin-left: 30px;
}

.column-1 a:hover,
.popular-headline a:hover {
  text-decoration: underline;
  color: lightslategray;
}

.column-1 h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.fig-caption {
  justify-content: flex-end;
  font-size: 10px;
  color: lightslategray;
  margin-bottom: 10px;
}

.side-section {
  margin-top: 10px;
  padding-top: 21px;
  float: left;
  min-width: 400px;
  font-size: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  margin-bottom: 30px;
}

.grid-container img {
  width: 270px;
  height: 180px;
}

@media (min-width: 600px) and (max-width: 800px) {
  .grid-column {
    grid-template-columns: auto auto;
  }

  .column-1-w {
    width: 500px;
  }

  .column-1 hr {
    width: 560px;
  }

  .s-section-w {
    padding-left: 120px;
  }
}

@media (min-width: 801px) {
  .grid-column {
    grid-template-columns: auto auto auto;
  }

  .column-1-w {
    width: 55%;
  }

  .s-section-w {
    padding-left: 200px;
  }

  .column-1 hr {
    width: 850px;
  }
}

.side-section h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 18px;
}

.popular-headline {
  border-top: 1px solid lightgray;
  padding: 17px 0px 0px;
  margin-top: 4px;
  margin-bottom: 4px;
}

footer {
  clear: both;
  bottom: 0;
  width: 90%;
  border-top: 3px solid lightgray;
  margin-left: 40px;
  font-size: 15px;
  font-family: georgia, 'times new roman', times, serif;
}

.footer-menu img {
  height: 70px;
  width: 180px;
  float: left;
  margin-left: -10px;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin: 10px 0;
}

.footer-subscribe {
  border-left: 1px solid lightgray;
  padding-left: 20px;
}

.css-r5ic95 {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

.copyrights {
  border-top: 1px solid lightgray;
  font-size: 11px;
  width: 90%;
  padding: 20px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.a-small {
  font-size: 10px;
}

.grey {
  color: grey;
}

.separation-border {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
